<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.sign_in', default: 'Sign in') %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %> <%= t('.remember_me', default: 'Remember me') %>
          <% end %>
        </div>
      <% end %>
      <%= f.submit  t('.sign_in', default: 'Sign in'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= render 'devise/shared/links' %>
<div class="clearfix"></div>
<br />
<div class="row col-md-12">
    <table class="table table-bordered"> 
        <thead> 
            <tr> 
                <th>Organization Admin Email</th> 
                <th>Admin Password</th>
                <th>Organization User Email</th> 
                <th>User Password</th>
            </tr> 
        </thead> 
        <tbody> 
            <tr> 
                <td>madmin@example.com</td> 
                <td>$#@zdfsf</td> 
                <td>muser@example.com</td> 
                <td>$#@zdfsf</td> 
            </tr> 
        </tbody> 
    </table> 
</div>
