<%- model_class = Artifact -%>
<div class="page-header">
  <h1>Attachment</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @artifact.name %></dd>
  <dt><strong>Attachment:</strong></dt>
  <dd>
        <a href="<%= @artifact.key %>" target="_blank">
            <i class="fa fa-paperclip" style="font-weight:  bold;font-size: 30px;"></i> 
        </a>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:project_id) %>:</strong></dt>
  <dd><%= @artifact.project.title %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              artifacts_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_artifact_path(@artifact), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              artifact_path(@artifact),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
