<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Software AS A Service" %></title>
        <%= csrf_meta_tags %>
    
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
        <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
        <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
        <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
        <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
        
        <%= javascript_include_tag "https://js.stripe.com/v2/" %>
        <%= javascript_include_tag "application" %>
    </head>
    <body>
        <%= render 'common/navbar' %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <%= bootstrap_flash %>
                    <%= yield %>
                </div>
            </div><!--/row-->
            <br>
            <footer>
                
            </footer>
        </div> <!-- /container -->

    </body>
</html>
